.Group167_1_345 {
  transform: translate(105px, 3546px) rotate(0deg) scale(1, 1);
  transform-origin: 1px 1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 542px;
  min-height: 780.2836303710938px;
  background-color: transparent;
  border: none;
}
