.RataKanan06_1_165 {
  transform: translate(119px, 29px) rotate(0deg) scale(1, 1);
  transform-origin: 1px 1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 1274px;
  min-height: 51px;
  background-color: transparent;
  border: none;
}
