.Frame101_1_334 {
  z-index: 2;
  width: min(180px, 100%);
  min-height: 51px;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 30px;
}
