.Group165_1_212 {
  transform: translate(241px, 1114px) rotate(0deg) scale(1, 1);
  transform-origin: 1px 1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 1091px;
  min-height: 2713px;
  background-color: transparent;
  border: none;
  border-radius: 0px 0px 0px 0px;
}
