.Media_1_240 {
  z-index: 1;
  width: min(310px, 100%);
  min-height: 80px;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  flex-wrap: wrap;
}
