.Group166_1_268 {
  transform: translate(119px, 2121px) rotate(0deg) scale(1, 1);
  transform-origin: 1px 1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 1500px;
  min-height: 495px;
  background-color: transparent;
  border: none;
  border-radius: 20px;
}
