.Group163_1_192 {
  transform: translate(0px, 0px) rotate(0deg) scale(1, 1);
  transform-origin: 1px 1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 541px;
  min-height: 737.3392333984375px;
  background-color: transparent;
  border: none;
}
