.Maskgroup_1_340 {
  transform: translate(850.0000610351562px, 2810.000244140625px) rotate(0deg)
    scale(1, 1);
  transform-origin: 1px 1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 457px;
  min-height: 638.5px;
  background-color: transparent;
  border: none;
  border-radius: 0px 0px 0px 0px;
}
