.Group170_1_413 {
  transform: translate(176px, 4521px) rotate(0deg) scale(1, 1);
  transform-origin: 1px 1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 1088px;
  min-height: 408px;
  background-color: transparent;
  border: none;
}

.TEXT_1_414 {
  transform: translate(436px, 0px) rotate(0deg) scale(1, 1);
  transform-origin: 1px 1px;
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0px;
  line-height: 48.409088134765625px;
}
